name: Node.js CI

on: [push]

jobs:
  eslint:
    name: Check ESLint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: install node v15
      uses: actions/setup-node@v1
      with:
        node-version: 15
    - name: Install dependencies
      run: npm install
    - name: Run ESLint
      run: npm run eslint
  build:
    name: Build application
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: install node v15
        uses: actions/setup-node@v1
        with:
          node-version: 15
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
